export AVALANCHE_MAINNET_URL="https://api.avax.network/ext/bc/C/rpc"
export AVALANCHE_FUJI_URL="https://api.avax-test.network/ext/bc/C/rpc"
export WAVAX_ADDRESS="0xB31f66AA3C1e785363F0875A1B74E27b85FD66c7"
export HARDHAT_NETWORK="hardhat"
export FORK_URL="https://api.avax.network/ext/bc/C/rpc"
export FORK_BLOCK_NUMBER=""
export DEPLOYER_ADDRESS=""
export DEPLOYER_PRIVATE_KEY="ac0974bec39a17e36ba4a6b4d238ff944bacb478cbed5efcae784d7bf4f2ff80"
export TOKEN_DEPLOYER_PRIVATE_KEY=""
export ADMIN_ADDRESS=""
export AVAX_REWARDS_START_TIMESTAMP="0"
export AVAX_REWARDS_PER_SECOND="1000000000000000"
export INITIAL_AVAX_REWARDS_BALANCE="1000000000000000000000"
export DAYS_TO_CLAIM="30"
export MASTER_YAK_ALLOC_POINTS="400"
export MASTER_YAK_PGL_ALLOC_POINTS="600"
export PGL_YAK_AVAX_ADDRESS="0xd2F01cd87A43962fD93C21e07c1a420714Cc94C9"
export PGL_CVR_RATE_BIPS="50000"